
body {
    margin-inline: 50px;
}

.photo1 {
    position: absolute;
    width: 298px;
    height: 376px;
    left: 1034px;
    top: 214px;
    @media (max-width:1395px) {
        display:none;
    
    }
}

.photo2 {
    position: absolute;
    width: 271px;
    height: 352px;
    left: 819px;
    top: 549px;
    @media (max-width:1395px) {
        display:none;
    }    

}



.profil h2 {
    padding-top: 150px;
    font-size: 2.827rem;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
@media (min-width:800px) {
    font-size: 3.998rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 400px;
    font-weight: 300;
    line-height: 77.5px;
    letter-spacing: -3.5px;
    }    
}

.profil2 {
    @media (min-width:800px) {
        width: 700px;
        }  
}

.profil .right {
    text-align: right;
}


    @media (min-width: 800px) {
        .rightp{
          padding-left: 50%;
    
      }
    }

.cvpdf {
    margin-left: 300px;
    margin-top: 70px;
    @media (max-width:700px) {
        margin-left: 190px;

        }  
}