


body, html {
    line-height: 1.8;
    margin: 0;
    padding: ;
    box-sizing: border-box;
    color: white;
    font-family: 'arial', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}



header {
    flex-basis: 100%;
    background: #000; 
}  

.sidebar {
    flex-basis: 25%;
    background: rgb(232, 22, 117);
}

.content {
    flex-basis: 50%;
    background: rgb(143, 23, 85);
}

footer {
    flex-basis: 100%;
    text-align: center;
    background: rgb(89, 40, 40);
}

@media screen and (max-width:100px){
    .content{
        flex-basis:100%;
    }
    .sidebar{
        flex-basis:50%;
    }
}