:root{
    --hauteur-menu: 20px;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.accueil {
    position: fixed;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    left: 51px;
    top: 43px;
}

.nav {
    position: fixed;
    top:0;
    padding: 50px; 
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    opacity: 100;
    height: 100px;
    
}

.menu a {
    position: fixed;
    writing-mode: vertical-rl;
    width: 56px;
    height: 24px;
    left: 1350px;
    top: 47px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}


.menu a:hover {
    transition: 1s;
    font-size: 21px;
}


.pro-links {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 490px;
    
}

.adidasapp {
    position: absolute;
    top: 360px;
}

.title h1 {
    position:fixed;
    color: #000;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    top: 212px;
    left: 70px;
}

.title h2 {
    position:fixed;
    color: #000;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    top: 302px;
    left: 70px;
}

.fleches p {
    position:fixed;
    color: #000;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    top: 405px;
    left: 1378px;
}

.fleche {
    position:fixed;
    height: 30px;
    left: 1375px;
    top: 365px;

}

.flechee {
    position:fixed;
    height: 30px;
    left: 1375px;
    top: 442px;

}

.projects a {
    position:fixed;
    transform: rotate(90.304deg);
    color: #000;
    font-size: 20px;
    height:733px;
    line-height: normal;
    top: 405px;
    left: 1023px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

.vertical-line{
    position: fixed;
    border-left: 2px solid #000;
    display: inline-block;
    margin: 0 82px;
    height:90px;
    left: 1307px;
    bottom:0
}