:root{
    --hauteur-menu: 20px;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.accueil {
    position: absolute;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    left: 51px;
    top: 43px;
}

.nav {
    position: fixed;
    top:0;
    padding: 50px; 
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    opacity: 100;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.menu a {
    position: fixed;
    writing-mode: vertical-rl;
    width: 56px;
    height: 24px;
    left: 1350px;
    top: 47px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}


.contactezmoi {
    position: absolute;
    top: 223px;
    left: 93px;
    color: #000;
    font-size: 50px;
    font-weight: 200;
    line-height: 65px;
    letter-spacing: -5.4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}


.teltexte {
    position: absolute;
    left: 204px;
    top: 434px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mailtexte {
    position: absolute;
    left: 204px;
    top: 558px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linkedintexte {
    position: absolute;
    left: 204px;
    top: 680px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.tel a {
    position: absolute;
    left: 204px;
    top: 434px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.mail a {
    position: absolute;
    left: 204px;
    top: 558px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linkedin a {
    position: absolute;
    left: 204px;
    top: 680px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.projects p {
    position:fixed;
    transform: rotate(90.304deg);
    color: #000;
    font-size: 20px;
    font-weight: bold;
    height:733px;
    line-height: normal;
    top: 380px;
    left: 1001px;
    font-family: 'poppins', sans-serif;
}

.vertical-line{
    position: fixed;
    border-left: 2px solid #000;
    display: inline-block;
    margin: 0 82px;
    height:90px;
    left: 1307px;
    bottom:0
}