:root{
    --hauteur-menu: 20px;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.accueil {
    position: fixed;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    left: 51px;
    top: 43px;
}

.nav {
    position: fixed;
    top:0;
    padding: 50px; 
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    opacity: 100;
    height: 100px;
    
}

.menu a {
    position: fixed;
    writing-mode: vertical-rl;
    width: 56px;
    height: 24px;
    left: 1350px;
    top: 47px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}


.menu a:hover {
    transition: 1s;
    font-size: 21px;
}


.pro-links {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 490px;
    
}

.premiere {
    font-weight: normal;
    font-size:30px;
}

.deuxieme {
    font-weight: normal;
    font-size:30px;
}

.troixieme {
    font-weight: normal;
    font-size:40px;
}

.premiere:hover {
    font-size:40px;
}

.deuxieme:hover {
    font-size:40px;
}

.troixieme:hover {
    font-size:40px;
}


.texte h2 {
    position: absolute;
    width: 1017px;
    height: 609px;
    left: 503px;
    top: 301px;
    font-size: 60px;
    font-weight: normal;
}


.texte h3 {
    position: absolute;
    width: 1017px;
    height: 609px;
    left: 503px;
    top: 390px;
    font-size: 20px;
    font-weight: bold;
}
    

    .texte h5 {
        position: absolute;
        width: 1017px;
        height: 609px;
        left: 503px;
        top: 450px;
        font-size: 18px;
        font-weight: normal;
    }

    .texte h6 {
        position: absolute;
        width: 1017px;
        height: 609px;
        left: 503px;
        top: 540px;
        font-size: 20px;
        font-weight: normal;
    }

    .texte h7 {
        position: absolute;
        width: 1017px;
        height: 609px;
        left: 503px;
        top: 665px;
        font-size: 20px;
        font-weight: normal;
    }

    .projects a {
        position:fixed;
        transform: rotate(90.304deg);
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        weight:1369px;
        height:733px;
        line-height: normal;
        top: 400px;
        left: 1020px;
    }
    
    .vertical-line{
        position: fixed;
        border-left: 2px solid #000;
        display: inline-block;
        margin: 0 82px;
        height:90px;
        left: 1307px;
        bottom:0
    }