* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
}

header {
    height: 100vh;
    width: 100vw;
    top: 0; 
    height: 100%;  
    width: 100px;
}   

a {
    text-decoration: none;
    color: black;
}

.menu {
    position: fixed;
    width: 56px;
    height: 24px;
    left: 1350px;
    top: 56px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'poppins', sans-serif;

}


.projects .num {
    position: absolute;
    width: 70px;
    height: 77px;
    left: 58px;
    top: 203px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
}

.projects .projectsli {
    position: absolute;
    width: 212px;
    height: 77px;
    left: 267px;
    top: 203px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.trait1 {
    position: absolute;
    border-top: 2px solid #000; 
    width : 609px; 
    top: 300px;
}

.cv .cvli {
    position: absolute;
    width: 72px;
    height: 77px;
    left: 267px;
    top: 350px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}


.cv .num {
    position: absolute;
    width: 79px;
    height: 77px;
    left: 58px;
    top: 350px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.trait2 {
    position: absolute;
    border-top: 2px solid #000; 
    width : 810px; 
    top: 450px;
}

.contact .contactli {
    position: absolute;
    width: 230px;
    height: 77px;
    left: 267px;
    top: 500px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.contact .num {
    position: absolute;
    width: 81px;
    height: 77px;
    left: 58px;
    top: 506px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.trait3 {
    position: absolute;
    border-top: 2px solid #000; 
    width: 1039px;
    top: 623px;
}

.blog .blogli {
    position: absolute;
    width: 133px;
    height: 77px;
    left: 267px;
    top: 653px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.blog .num {
    position: absolute;
    width: 82px;
    height: 77px;
    left: 58px;
    top: 657px;
    text-decoration: none;
    color:#000;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.trait4 {
    position: absolute;
    border-top: 2px solid #000; 
    width: 1276px;
    top: 773px;
}
