:root{
    --hauteur-menu: 20px;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.accueil a {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    left: 51px;
    top: 43px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

.nav {
    position: fixed;
    top:0;
    padding: 50px; 
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    font-family: 'poppins', sans-serif;

    
}

.menu a {
    position: fixed;
    writing-mode: vertical-rl;
    width: 56px;
    height: 24px;
    left: 1350px;
    top: 47px;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}


.menu a:hover {
    transition: 1s;
    font-size: 21px;
}


.pro-links {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 490px;
    font-size:30px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    
}

.fleche {
    width: 30px;
	height: 50px;  
    max-width: 100%;
	height: auto;
}

.formations {
    position: absolute;
    height: 49px;
    top: 470px;
    left: 200px;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


.ps {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 420px;
    width: 50px;
	height: 50px;
}

.ai {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 475px;
    width: 50px;
	height: 50px;  
    max-width: 100%;
	height: auto;
    border-radius: 9px;;
}

.xd {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 530px;
    width: 50px;
	height: 50px;
}

.figma {
    position: absolute;
    width: 198px;
    height: 49px;
    left: 4px;
    top: 585px;
    width: 50px;
	height: 50px; 
    max-width: 100%;
	height: auto;
    border-radius: 9px;
}

.ps:hover {
    width: 60px;
	height: 50px; 
    max-width: 100%;
	height: auto;
}

.ai:hover {
    width: 60px;
	height: 50px; 
    max-width: 100%;
	height: auto;
}

.xd:hover {
    width: 60px;
	height: 50px; 
    max-width: 100%;
	height: auto;
}

.figma:hover {
    width: 60px;
	height: 50px; 
    max-width: 100%;
	height: auto;
}

.projects a {
    position:fixed;
    transform: rotate(90.304deg);
    font-family: 'poppins', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    height:733px;
    line-height: normal;
    top: 365px;
    left: 980px;
}

.vertical-line{
    position: fixed;
    border-left: 2px solid #000;
    display: inline-block;
    margin: 0 82px;
    height:90px;
    left: 1307px;
    bottom:0
}