:root{
    --hauteur-menu: 20px;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
}


header {
    height: 100vh;
    width: 100vw;
    top: 0; 
    height: 100%;  
    width: 100px;
}   

a {
    text-decoration: none;
    color: #000;
}


.menu {
    position: fixed;
    width: 56px;
    height: 24px;
    left: 1350px;
    top: 56px;
	text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


.menu a:hover {
    font-size: 21px;
}

.submenu a {
    color: #000;
}

.submenu a:hover {
    font-weight: bold;
}

.adidas {
    position: absolute;
    weight: 271px;
    height: 371px;
    display: inline-flex;
    padding: 55px 53px 2.664px 86px;
    justify-content: flex-end;
    align-items: center;
}

.habyss {
    position: absolute;
    position: absolute;
    left: 100px;
    top:500px;
}

.joy {
position: absolute;
position: absolute;
left: 400px;
top: 120px;
}

.vimtails {
    position: absolute;
    left: 500px;
    top:500px;
}

.apero {
    position: absolute;
    left: 700px;
    top: 170px;
}

.ryanair {
    position: absolute;
    left: 1000px;
    top: 100px;
}

.sniper {
    position: absolute;
    left: 880px;
    top: 600px;
}

.texteprojects {
    position:fixed;
    transform: rotate(90.304deg);
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    weight:1369px;
    height:733px;
    line-height: normal;
    top: 385px;
    left: 993px;
}

.vertical-line{
    position: fixed;
    border-left: 2px solid #000;
    display: inline-block;
    margin: 0 82px;
    height:90px;
    left: 1307px;
    bottom:0
}